main #taskInput {
  width: 100%;
  padding: 12px;
  margin: 4px 0;
  border: none;
  outline: none;
}

main {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  max-width: 400px;
  background: white;
  margin: 0 auto;
  border-radius: 2px;
}

main ul {
  min-height: 300px;
  padding: 10px;
  margin: 0;
  list-style: none;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid lightgrey;
}

main ul li {
  display: flex;
  margin: 10px 0;
  align-content: center;
  justify-content: space-between;
}

main ul li div {
  display: flex;
  align-items: baseline;
}

main ul li.updating div,
main ul li.updating i.btn-delete {
  display: none;
}

main ul li.updating input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid darkgrey;
}

main ul li input:checked + span {
  text-decoration: line-through;
}

main div.info {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 5px 10px;
  grid-gap: 5px;
}

main div.info p {
  font-size: 10px;
}

main div.info div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}
