<main>
  <label>
    <input (keyup)="create($event)" id="taskInput" type="text" placeholder="¿Qué necesitas hacer?">
  </label>
  <ul id="taskList">
    <li *ngFor="let task of tasks" [class.updating]="task.id === updatingTaskId">
      <div *ngIf="task.id !== updatingTaskId">
        <div>
          <input #done type="checkbox" (change)="complete(task, done.checked)" [checked]="task.done">
          <span (click)="updatingTaskId = task.id">{{task.description}}</span>
        </div>
        <i (click)="deletingTaskId = task.id" class="material-icons btn-delete">delete_outline</i>
      </div>
      <div *ngIf="task.id === updatingTaskId">
        <input #description type="text" value="{{task.description}}">
        <i (click)="update(task, description.value)" class="material-icons">
          done
        </i>
      </div>
      <app-modal *ngIf="task.id === deletingTaskId"
                 message="¿Estás seguro de que deseas eliminar esta tarea?"
                 body="{{task.description}}"
                 (noButton)="deletingTaskId = null"
                 (yesButton)="delete(task)"
      ></app-modal>
    </li>
  </ul>
  <div class="info">
    <p>Quedan {{tasksLeft}} tareas</p>
    <div>
      <button id="allButton" class="button" disabled>Todas</button>
      <button id="pendingButton" class="button">Pendientes</button>
      <button id="completedButton" class="button">Completadas</button>
    </div>
  </div>
</main>
