<main>
  <label>
    <input id="taskInput" type="text" placeholder="¿Qué necesitas hacer?">
  </label>
  <ul id="taskList">
    <li>
      <div>
        <input type="checkbox">
        <span>Esto es una tarea sin hacer</span>
      </div>
      <i class="material-icons btn-delete">delete_outline</i>
    </li>
  </ul>
  <div class="info">
    <p id="tasksLeft"></p>
    <div>
      <button id="allButton" class="button" disabled>Todas</button>
      <button id="pendingButton" class="button">Pendientes</button>
      <button id="completedButton" class="button">Completadas</button>
    </div>
  </div>
</main>
