<main>
  <label>
    <input (keyup)="create($event)" id="taskInput" type="text" placeholder="¿Qué necesitas hacer?">
  </label>
  <ul id="taskList">
    <li *ngFor="let task of tasks">
      <div>
        <input type="checkbox" [checked]="task.done">
        <span>{{task.description}}</span>
      </div>
      <i class="material-icons btn-delete">delete_outline</i>
    </li>
  </ul>
  <div class="info">
    <p id="tasksLeft"></p>
    <div>
      <button id="allButton" class="button" disabled>Todas</button>
      <button id="pendingButton" class="button">Pendientes</button>
      <button id="completedButton" class="button">Completadas</button>
    </div>
  </div>
</main>
