.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal.open {
  display: block;
}

.modal .box {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  justify-items: center;
  padding: 10px 20px;
  background: white;
  max-width: 350px;
  min-height: 300px;
  margin: 0 auto;
}

.modal .box * {
  margin: 0;
}

.modal .box div {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

@media screen and (min-width: 350px) {
  .modal .box {
    margin-top: 3vw;
  }
}
